.app-wrapper {
  display: grid;
  grid-template-columns: 14em auto;
  grid-template-rows: 3.5em auto;
  grid-template-areas:
    "head head"
    "sidebar main";
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app-wrapper-header {
  grid-area: head;
}

.app-wrapper-aside {
  grid-area: sidebar;
}

.app-wrapper-main {
  grid-area: main;
  height: auto;
  scroll-behavior: smooth;
  overflow-y: auto;
}
