// -----------------------------------------------------------------------------
// This file contains Color Pallette.
// -----------------------------------------------------------------------------

$black: #000000;
$gray: #f0f4f7;
$purple: #4e3882;
$dark-purple: #4e3882;
$red: #f44335;
$white: #ffffff;
$green: green;

// Font color
$primary: #282828;
$secondary: #999999;

// Overriding normalized scss variables
$background: $gray;
$color: $primary;
