// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$left: left;
$right: right;

// Spacing variables
$space-0: 0;
$space-1: 0.5rem;
$space-2: 1rem;
$space-3: 1.5rem;
$space-4: 2rem;
$space-5: 2.5rem;
$space-6: 3rem;
$space-7: 3.5rem;
$space-8: 4rem;
$space-9: 4.5rem;
$space-10: 5rem;
$space-11: 5.5rem;
$space-12: 6rem;
$space-13: 6.5rem;
$space-14: 7rem;
